@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
.left img{
    width: 32px;
    height: 23px;

}
.mini{
    width: 80vw;
    margin-top: 40px;
    border-radius: 14px;
}
html body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;

}
header{
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);
    position: sticky;
    top: 0;
    background-color: white;
}
.container{
    max-width: 80vw;
    margin: 13 0px;
    padding: 0 10vw;
}
nav ul li{
    list-style: none;
    padding: 0 12px;
}
.flex{
    flex-direction: row;
}
.section1{
    background-color: rgb(150, 145, 145);
    /* height: 122vh; */
}
.search{
    width: 34vw;
    padding: 7px 17px;
    border: 0.5px solid grey;
    background-color: rgba(176, 175, 171, 0.539);
    border-radius: 6px;
}
.gap{
    /* width: 100vh; */
    background-color: palevioletred;
    display: flex;
    /* margin-left: 10px; */
    /* padding: 10px; */
    
}
.sh{
    width: 10vw;
    margin: 12px 18px;
}
